<?xml version="1.0" encoding="UTF-8"?>
<!-- The following part's main function is to let computer know the <bean> <property> tags -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    
 
 	<bean id="BillOfPurchaseDAO" class="com.sa.finalproject.DAO.impl.BillOfPurchaseDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="EmployeeDAO" class="com.sa.finalproject.DAO.impl.EmployeeDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
 
 	<bean id="productDAO" class="com.sa.finalproject.DAO.impl.ProductDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="purchaseRequisitionDAO" class="com.sa.finalproject.DAO.impl.PurchasingRequisitionDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="RemarkDAO" class="com.sa.finalproject.DAO.impl.RemarkDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="supplierDAO" class="com.sa.finalproject.DAO.impl.SupplierDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="warehouseWarrantDAO" class="com.sa.finalproject.DAO.impl.WarehouseWarrantDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
    
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
    <property name="scopes">
        <map>
            <entry key="session">
                <!-- org.springframework.context.support.SimpleThreadScope -->
                <bean class="org.springframework.web.context.request.SessionScope"/>
            </entry>
        </map>
    </property>
	</bean>
    
</beans>