<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http pattern="/resources/css/**" security="none"/>
	<http pattern="/resources/javascript/**" security="none"/>


	<http use-expressions="true" auto-config="true">
	<access-denied-handler error-page="/403" />
		<intercept-url pattern="/insertRequisition" access="hasRole('ROLE_USER_procurement') or hasRole('ROLE_USER_director') or hasRole('ROLE_USER_god')"/>
		<intercept-url pattern="/updateProduct" access="hasRole('ROLE_USER_procurement') or hasRole('ROLE_USER_director') or hasRole('ROLE_USER_god')"/>
		<intercept-url pattern="/updateSupplier" access="hasRole('ROLE_USER_procurement') or hasRole('ROLE_USER_director') or hasRole('ROLE_USER_god')"/>
		<intercept-url pattern="/**" access="permitAll"/>
        <form-login login-processing-url="/j_spring_security_check"
         login-page="/index" default-target-url="/Dashboard"
         authentication-failure-url="/index"/>
        <logout logout-url="/j_spring_security_logout"/>

	</http>
	<authentication-manager>
	  <authentication-provider>
	    <user-service>
		<user name="403401316" password="403401316" authorities="ROLE_USER_god" /> <!-- 陳常樂 -->
		<user name="403401275" password="403401275" authorities="ROLE_USER_director" /> <!-- 張瑋翎 主管-->
		<user name="402401022" password="402401022" authorities="ROLE_USER_inspector" /> <!-- 林柏聿  驗貨-->
		<user name="401141039" password="401141039" authorities="ROLE_USER_procurement" /> <!-- 學姐 請購人員-->
		<user name="403401213" password="403401213" authorities="ROLE_USER_god" /> <!-- 大禹 -->
		<user name="403401359" password="403401359" authorities="ROLE_USER_accountant" /> <!-- 徐啓文 會計-->
	    </user-service>
	  </authentication-provider>
	</authentication-manager>


    
</beans:beans>